p Current score: #{@player_score.to_s} Dealer score: #{@dealer_score.to_s}
p = link_to 'Hit', black_jack_hit_path

p Player cards: 
- @player_cards.each do |front, back|
  p = front
  
p Dealer cards: 
- @dealer_cards.each do |front, back|
  p = front
  
p = @message
